* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

header {
    padding: 16px 0;
    background-color: rgb(176, 189, 189);
    color: #fff;
    text-align: center; /* Alinhar o texto no centro */
}

header p {
    font-size: 50px;
    margin-bottom: 16px; /* Adicionar margem inferior para separar o título dos links */
}

header nav {
    margin-top: 20px; /* Adicionar margem superior aos links */
}

header nav li {
    display: inline;
    margin-left: 22px;
    font-size: 22px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; /* Alterar apenas a margem superior e inferior para 0 */
    padding: 0 20px; /* Adicionar padding para não ficar grudado na borda da tela */
}

.foto img {
    max-width: 100%; /* Garantir que a imagem não ultrapasse o container */
    height: auto; /* Adicionar uma altura automática para manter a proporção da imagem */
}

.capas img {
    max-width: 100%; /* Garantir que a imagem não ultrapasse o container */
    height: auto; /* Adicionar uma altura automática para manter a proporção da imagem */
}

.capas li {
    display: inline;
    margin-right: 10px; /* Reduzir a margem para separar as imagens */
}

#contact .container {
    text-align: center; /* Alinhar o formulário e informações de contato no centro */
}

.contact-methods {
    margin-top: 20px; /* Adicionar margem superior aos ícones de contato */
}

form input,
form textarea,
form button {
    width: 100%; /* Alterar a largura para ocupar todo o espaço disponível */
    margin-bottom: 8px;
    padding: 8px;
}

.social li {
    display: inline;
    margin-right: 20px; /* Reduzir a margem entre os ícones de mídia social */
}
